# --- Django ---
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal

# --- Entorno Virtual ---
venv/
env/
.env

# --- VS Code ---
.vscode/

# --- Sistema Operativo ---
.DS_Store
Thumbs.db

media/
.django_cache/
credenciales_google.json
aisstream_api_key.txt
invergesal_data/*.json.tmp