{% extends 'base.html' %}

{% block title %}Añadir Contrato para {{ trabajador.nombre_completo }}{% endblock %}

{% block content %}
<h2>Añadir Contrato para <strong>{{ trabajador.nombre_completo }}</strong></h2>

<div class="card">
    <div class="card-body">
        <form method="post">
            {% csrf_token %}

            {{ form.as_p }}

            <div class="mt-4">
                <a href="{% url 'rrhh:trabajador_detail' pk=trabajador.id %}" class="btn btn-secondary">Cancelar</a>
                <button type="submit" class="btn btn-primary">Guardar Contrato</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}